@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #171717;
    color: #d1d1d1;
}
h1, h2, h3 {
    font-family: 'Intro', sans-serif;
}
.section {
    margin-bottom: 20px;
}
.wireframe {
    border: 1px solid #d1d1d1;
    padding: 10px;
}